@charset "utf-8";
#blog{
    width: auto;
    height: 700px;
    border: 2px solid #ccc;
    font-size: 12px;
}
#blog h2{
    text-indent: 0;
    text-align: center;
}
#blog dl{
    width: 200px;
    float: left;
    margin: 0 19px 0 19px;
}
#blog dl dt{
    width: 200px;
    margin: 0 0 5px 0;
    }
#blog dl dt img{
    display: block;
    margin: 0 auto;
}
#blog dl dd{
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 100px;
    float: left;
}
#blog dl dd a{
    text-decoration: none;
    color: #333;
}
#blog dl dd.user{
    width: 200px;
    float: none;
    color: #f60;
}
/*.user{*/
    /*width: 200px;*/
    /*float: none;*/
/*}*/
#blog dl dd.message{
    background:url("../../img/blog.png") no-repeat left center;
}
#blog dl dd.friend{
    background:url("../../img/blog.png") no-repeat left center;
}
#blog dl dd.guest{
    background:url("../../img/blog.png") no-repeat left center;
}
#blog dl dd.flower{
    background:url("../../img/blog.png") no-repeat left center;
}
